# Object files
*.o

# Compiled python files
*.pyc

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# vim stuff
*.swp
tags

# Debugging stuff
*.dSYM

# Generated code
generated/*
